
form{
  margin: 0;
  height: fit-content;
  width: 100%;
}
.container {
  width: 50%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #333333c0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#UpperForm{
  display: flex;
  width: 100%;
  justify-content:center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#UpperForm h1{
  display: block;
  margin: 0;
}
#IMGUSR{
  background-image: url("Images/user.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
label {
  display: block;
  margin-bottom: 10px;
}

#username,
#password {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  border: 2px solid transparent;
  margin-bottom: 10px;
  outline: none;
  background-color: #222222c0;
  color: white;
}
#BtnContainer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#formDivider{
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: rgb(220 220 220);
}
.btn {
  display: flex;
  padding: 5px 5px;
  border-radius: 15px;
  background-color: #3D5AFE;
  color: #ffffff;
  font-size: 1.2em;
  cursor: pointer;
  border: 0;
  width: 160px;
  transition: background-color 0.3s ease;
  align-items: center;
  justify-content: center;
}

.btn:hover,  #SignUpbtn:hover {
  background-color: #536DFE;
}

#username:focus,
#password:focus{
  border: 2px solid #3D5AFE;
}

#username.redBorder,
#password.redBorder{
  border: 2px solid #ff0026;
  
}
#username.hshaking,
#password.hshaking {
  animation: hshaking 0.35s 1;
}
#SignUpContainer{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#SignUpbtn{
  margin-top: 10px;
  display: flex;
  padding: 5px 5px;
  border-radius: 15px;
  background-color: #3D5AFE;
  color: #ffffff;
  font-size: 1.2em;
  cursor: pointer;
  border: 0;
  width: 100%;
  transition: background-color 0.3s ease;
  align-items: center;
  justify-content: center;
}
#SignUpContainer em{
  margin: 0;
}
@keyframes hshaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

@media (max-width: 800px) {
  .container{
    width: 100%;
  }
}